body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #191e36;
  color: white;
  font-family: Montserrat, Arial, Helvetica, serif;
}

*::placeholder {
  /* modern browser */
  color: #627588;
  font-family: Montserrat, Arial, Helvetica, serif;
}
